* {
    margin: 5px;
    padding:0px;
    font-family: segoe UI;
    box-sizing:border-box;
}

body{
    margin: 0;
    background-image: url(imagens/sky2.jpg);
    background-size: cover;
}

.card-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:100px;
}

.card{
    width:350px;
    background-color: #e2e2e2;
    border-radius:10px;
    overflow:hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin:20px;

}

.card img{
    width:100%;
    height:auto;
}

.card-content{
    padding:16px;

}

.card-content h3{
    font-size:28px;
    margin-bottom:8px;

}

.card-content p{
    color:#666;
    font-size:15px;
}

.card2{
    width:700px;
    background-color: #e2e2e2;
    border-radius:10px;
    overflow:hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin:20px;
}

.card2 img{
    width:100%;
    height:auto;

}


header {
    width: auto;
    background-color: #e2e2e2;
    color: #fff;
    display: flex;
    align-items: center;
    margin: 10px;
    border-radius: 16px;
    opacity: 70%;
}

header h1 {
    padding-left: 32%;
    color:black
}

header img {
    height: 70px;
    padding: 10px;
    padding-left: 20px
}

nav button{
    display: inline-block;
    padding: 0px 16px;
    background-color:#333;
    text-decoration:none;
    border-radius:4px;
    margin-top:16px;
    color:#fff


}

nav a{
    color:#fff;
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 100vh;
}

.form_box{
    display:flex;
    flex-direction:column;
    background-color:#fff;
    border-radius:8px;
    width: 700px;
}

.form_box .title{
    padding:24px 32px;
    font-size:24px;
    border-bottom:thin solid #666;
}

.form_box form{
    display:flex;
    align-items:start;
    flex-wrap:wrap;
    padding:32px;
}

.form_box input,
.form_box textarea{
    width:calc(50% - 8px);
    height:48px;
    border-radius:8px;
    border:thin solid #999;
    margin-bottom:16px;
    font-size:16px;

}

.form_box input:first-child{
    margin-right:16px;
}

.form_box input[name=subject]{
    width:100%;

}

.form_box textaera{
    width:100%;
    height:180px;
    padding:16px;
}

.form_box button{
    display:block;
    border:none;
    outline:none;
    width:180px;
    height:48;
    border-radius:8px;
    background-color:#999;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
}

.form_box button:hover{
    background-color:#022083;
}